@page "/ViewProfile"
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@inject IUserService userService;
@inject NavigationManager navMgr;

@inject AuthenticationStateProvider AuthenticationStateProvider

@if (currentUsername.Equals(""))
{
    <p>Loading...</p>
}
else
{
    <AuthorizeView>
        <header class="profile-info" tabindex="-1">
            <h1>Personlige oplysninger</h1>
            <div>Her kan du se din profil og hvilke oplysniger du har angivet - samt har du mulighed for at opdatere dine oplysninger</div>
        </header>
    <div class="profile-container">
        <h3>Grundlæggende oplysninger</h3>
        <table class="profile-table">
            <tr>
                <td>Navn</td>
                <td><div class="field-value">@_user.Name</div></td>
            </tr>
            <tr>
                <td>Fødselsdato</td>
                <td><div class="field-value">@_user.Birthday.ToString("dd-MM-yyyy")</div></td>
            </tr>
            <tr>
                <td>Køn</td>
                <td><div class="field-value">@_user.Sex</div></td>
            </tr>
        </table>
    </div>
    <div class="profile-container">
            <h3>Kontaktoplysninger</h3>
            <table class="profile-table">
                <tr>
                    <td>Mailadresse</td>
                    <td><div class="field-value">@_user.Email</div></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td><div class="field-value">@_user.Phone</div></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td><div class="field-value">@_user.Address</div></td>
                </tr>
                </table>
    </div>
                
            <div class="button-row">
                <button @onclick="EditPage" class="edit-btn">Opdater profil</button>
            </div>
            @if (!string.IsNullOrEmpty(resultMsg))
            {
                <div style="@color" class="result-message">@resultMsg</div>
            }

    </AuthorizeView>
}


@code {
    private string currentUsername = "";
    private string resultMsg = "";
    private string color = "";

    private User _user = new();
    private int currentUserId;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        currentUsername = user.Identity?.Name ?? "UnknownUser";

        currentUserId = await userService.GetCurrentUserId();

        _user = await userService.GetAsync(currentUsername);
    }

    private void EditPage()
    {
        navMgr.NavigateTo("/ViewProfile/EditProfile");
    }

}